### Ski Shop Sales Data Analysis

In [5]:
# Importing favourable libraries and functions

import openpyxl as xl
from tax_calculator import tax_calculator
from pprint import pprint

In [7]:
# Loading the dataset

wb = xl.load_workbook(filename = 'ski_shop_data.xlsx')
orders = wb['Orders_Info']

### Columnn Printer Function
This function will help us to view the imported data without opening the dataset and review the data we have written in the columns.

In [10]:
def column_printer(sheet, column):
    
    # sheet.max_row function takes all the rows from the dataset.
    # +1 makes sure all the rows are selected.
    
    for i in range(1, sheet.max_row + 1):
        print(f"{column}{i}", sheet[f"{column}{i}"].value)

In [12]:
column_printer(orders, 'A')

A1 Order_ID
A2 100000
A3 100001
A4 100002
A5 100003
A6 100004
A7 100005
A8 100006
A9 100007
A10 100008
A11 100009
A12 100010
A13 100011
A14 100012
A15 100013
A16 100014
A17 100020
A18 100021
A19 100022
A20 100023
A21 100024
A22 100025
A23 100026
A24 100027
A25 100031
A26 100032
A27 100033
A28 100034

In [14]:
column_printer(orders, 'D')

D1 Subtotal
D2 15.98
D3 899.97
D4 799.97
D5 117.96
D6 5.99
D7 599.99
D8 24.99
D9 1799.94
D10 99.99
D11 254.95
D12 29.98
D13 99.99
D14 25.98
D15 649.98
D16 89.99
D17 119.99
D18 599.99
D19 649.98
D20 24.99
D21 99.99
D22 99.99
D23 5.99
D24 24.99
D25 999.96
D26 99.99
D27 399.97
D28 89.99

In [16]:
# Creating a dictionary for information contained in Orders_info
# column A as key and columns B,C,D,G,H as value pairs

dict_of_order = {
    orders[f"A{order}"].value : [
        orders[f"B{order}"].value,
        orders[f"C{order}"].value,
        orders[f"D{order}"].value,
        orders[f"G{order}"].value,
        str(orders[f"H{order}"].value).split(', ')
    ]
    for order in range(2, orders.max_row + 1)
}

### Sales Tax Calculation
1. If the location is Sun Valley, apply 8% tax.
2. If the location is Mammoth, apply 7.75% tax.
3. if the location is Stowe, apply 6% tax.

In [19]:
for order in dict_of_order.values():
    if order[3] == 'Sun Valley' : 
        transaction = tax_calculator(order[2], 0.08)
    elif order[3] == 'Mammoth' : 
        transaction = tax_calculator(order[2], 0.0775)
    else: 
        transaction = tax_calculator(order[2], 0.06)
# To insert the values of tax and total in the orders dictionary
    order.insert(3, transaction[1])
    order.insert(4, transaction[2])

pprint(dict_of_order, width = 150)

{100000: ['C00004', '11/26/2021', 15.98, 1.28, 17.26, 'Sun Valley', ['10001', '10002']],
 100001: ['C00007', '11/26/2021', 899.97, 54.0, 953.97, 'Stowe', ['10008', '10009', '10010']],
 100002: ['C00015', '11/26/2021', 799.97, 62.0, 861.97, 'Mammoth', ['10011', '10012', '10013']],
 100003: ['C00016', '11/26/2021', 117.96, 7.08, 125.04, 'Stowe', ['10002', '10003', '10004', '10006']],
 100004: ['C00020', '11/26/2021', 5.99, 0.48, 6.47, 'Sun Valley', ['10001']],
 100005: ['C00010', '11/26/2021', 599.99, 46.5, 646.49, 'Mammoth', ['10010']],
 100006: ['C00006', '11/26/2021', 24.99, 1.94, 26.93, 'Mammoth', ['10004']],
 100007: ['C00001', '11/26/2021', 1799.94, 139.5, 1939.44, 'Mammoth', ['10008', '10008', '10009', '10009', '10009', '10010', '10010']],
 100008: ['C00003', '11/26/2021', 99.99, 8.0, 107.99, 'Sun Valley', ['10005']],
 100009: ['C00014', '11/26/2021', 254.95, 20.4, 275.35, 'Sun Valley', ['10002', '10003', '10004', '10006', '10007']],
 100010: ['C00001', '11/26/2021', 29.98, 2.32, 32.3, 'Mammoth', ['10002', '10003']],
 100011: ['C00001', '11/26/2021', 99.99, 7.75, 107.74, 'Mammoth', ['10005']],
 100012: ['C00005', '11/26/2021', 25.98, 2.08, 28.06, 'Sun Valley', ['10001', '10003']],
 100013: ['C00008', '11/26/2021', 649.98, 39.0, 688.98, 'Stowe', ['10012', '10013']],
 100014: ['C00013', '11/26/2021', 89.99, 7.2, 97.19, 'Sun Valley', ['10014']],
 100020: ['C00004', '11/27/2021', 119.99, 9.6, 129.59, 'Sun Valley', ['10007']],
 100021: ['C00017', '11/27/2021', 599.99, 36.0, 635.99, 'Stowe', ['10010']],
 100022: ['C00019', '11/27/2021', 649.98, 52.0, 701.98, 'Sun Valley', ['10012', '10013']],
 100023: ['C00002', '11/27/2021', 24.99, 1.5, 26.49, 'Stowe', ['10004']],
 100024: ['C00008', '11/27/2021', 99.99, 6.0, 105.99, 'Stowe', ['10005']],
 100025: ['C00021', '11/27/2021', 99.99, 7.75, 107.74, 'Mammoth', ['10008']],
 100026: ['C00022', '11/27/2021', 5.99, 0.48, 6.47, 'Sun Valley', ['10001']],
 100027: ['C00006', '11/28/2021', 24.99, 1.94, 26.93, 'Mammoth', ['10002']],
 100031: ['C00018', '11/28/2021', 999.96, 60.0, 1059.96, 'Stowe', ['10005', '10008', '10009', '10010']],
 100032: ['C00018', '11/28/2021', 99.99, 6.0, 105.99, 'Stowe', ['10006']],
 100033: ['C00010', '11/28/2021', 399.97, 31.0, 430.97, 'Mammoth', ['10005', '10008', '10009']],
 100034: ['C00016', '11/28/2021', 89.99, 5.4, 95.39, 'Stowe', ['10014']]}

In [21]:
# Inserting and loading the new columns in the dataset 

for index, order in enumerate(dict_of_order.values(), start = 2):
    orders[f"E{index}"] = order[3]
    orders[f"F{index}"] = order[4]

wb.save('fixed_ski_shop_data.xlsx')

# Analysis 

1. Creating a function to find the sum of Subtotal, Tax and Total.

In [24]:
def sum_of_columns(column_index, dictionary):
    return round(sum([value[column_index]for value in dictionary.values()]), 2)

In [26]:
print(f"Sum of Subtotals : $ {sum_of_columns(2, dict_of_order)}")
print(f"Sum of Taxes : $ {sum_of_columns(3, dict_of_order)}")
print(f"Sum of Total : $ {sum_of_columns(4, dict_of_order)}")

Sum of Subtotals : $ 8731.47
Sum of Taxes : $ 617.2
Sum of Total : $ 9348.67

#### Average of subtotals

In [29]:
# To find the average of subtotal in the dictionary we will devide sum of subtotal to the lenght of subtotal in the dictionary

avg_of_subtotals = round(sum_of_columns(2, dict_of_order) / len(dict_of_order), 2)
print(f"Average of Subtotal : $ {avg_of_subtotals}")

Average of Subtotal : $ 323.39

#### Calculating total number of unique customers

1. Calculating unique customers using set()
2. Determining the total number of unique customers using len()

In [32]:
# Using set() removes muntiple identical values from the dictionary

unique_customers = len(set([order[0]for order in dict_of_order.values()]))
print(f"Number of Unique customers : {unique_customers}")

Number of Unique customers : 19

In [34]:
# Number of orders per customer

orders_per_customer = round(len(dict_of_order) / unique_customers, 2)
print(f"Number of order per customer : {orders_per_customer}")

Number of order per customer : 1.42

#### Total number of items sold

In [37]:
# Total number of items sold across all orders

total_orders = sum([len(order[6]) for order in dict_of_order.values()])
print(f"Total Orders Allover: {total_orders}")

Total Orders Allover: 54

#### Sales By Location

Creating a dictionary to store sales by location where key is location and value is revenue of that location

In [40]:
sum_location = {}

for data in dict_of_order.values():
    # grabbing the location from the dictionary
    location = data[5]
    
    # adding the locations in the dictionary
    sum_location[location] = sum_location.get(location, 0) + data[2]

sum_location[location] = sum_location.get(location, 0) + data[2]

round_of_sales = {k: round(v, 2) for k, v in sum_location.items()}

print(f"Total Sales by different outlets : {round_of_sales}")

Total Sales by different outlets : {'Sun Valley': 1268.84, 'Stowe': 3672.81, 'Mammoth': 3879.81}

#### Aggregator Function

This function will help us to generalize calculating a sum of a column, grouped by the unique values of another column.

The function takes following arguments :
1. index of the 'column' to group by
2. index of the 'column' to sum by category
3. the dictionary where the data is located

It will return :
1. A dictonary with category as keys and the sum by category as the values

In [43]:
def aggregator(category_index, field_sum_index, dictionary):
    
    sum_category= {}

    for data in dictionary.values():
    
       category = data[category_index]
        
       # adding the locations in the dictionary
       sum_category[category] = round(sum_category.get(category, 0) + data[field_sum_index], 2)

    return sum_category

In [45]:
print(f"Total sales by date : {aggregator(1, 4, dict_of_order)}")

Total sales by date : {'11/26/2021': 5915.18, '11/27/2021': 1714.25, '11/28/2021': 1719.24}

In [47]:
print(f"Total sales per Customer : {aggregator(0, 4, dict_of_order)}")

Total sales per Customer : {'C00004': 146.85, 'C00007': 953.97, 'C00015': 861.97, 'C00016': 220.43, 'C00020': 6.47, 'C00010': 1077.46, 'C00006': 53.86, 'C00001': 2079.48, 'C00003': 107.99, 'C00014': 275.35, 'C00005': 28.06, 'C00008': 794.97, 'C00013': 97.19, 'C00017': 635.99, 'C00019': 701.98, 'C00002': 26.49, 'C00021': 107.74, 'C00022': 6.47, 'C00018': 1165.95}